
/* Global */

/* color 1 rgb(163, 0, 0)*/

.load-hidden{
    visibility: 0;
}

.container{
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.website-contents{
    position: relative;
    /*background: linear-gradient(to bottom, rgb(255, 2, 2) 0%, rgb(163, 0, 0) 100%);*/
    text-align: center;
    margin: auto;
}

.website-contents a:link{
    color: white;
}  

/*fonts*/
.font{
    font-family:    -apple-system, "Roboto", "Montserrat" , 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.section-header-font{
    font-weight: 700; 
    letter-spacing: 1px;
    font-size: 50px;
}


.animation-slide-in{
    -webkit-animation: slideIn .75s;
    animation: slideIn .75s;
    animation-name: slideIn;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

