.fa{
    font-size: 27pt;
    padding: 10px;
}

.fa a{
    transition: 2s;
}

.fa a:hover{
    background-color:white;
}


.fa-facebook{
    background-color :#3B5998;
    color: white;
}

.fa-facebook a:hover{
    background-color:white;
}

.fa-github{
    background-color: rgb(238, 121, 11);
    color:white;
}

.fa-linkedin{
    background-color: #007bb5;
    color: white;
}

.fa-instagram{
    color: white;
    background-color: rgb(2, 81, 146);
}

.fa-envelope-o{
    background-color:white;
    color:red;
}
